/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
  font-size: 2rem;
}
.nav-bar a {
  text-decoration: none;
  color: black;
  margin-block-end: 5%;
}
.container {
  background-color: silver;
  padding: 3%;
  margin: 10%;
  border: outset;
  border-radius: 10%;
}
.container .image-one img {
  border: outset;
  width: 30%;
  height: 20%;
  margin: 3%;
  border-radius: 10%;
}
.container .introduction h1 {
  font-size: 1.5rem;
  margin-top: %;
  font-weight: bold;
}
.container h2 {
  font-size: 1rem;
  margin-top: 3%;
}
.container p {
  font-style: italic;
  margin-top: 5%;
}
.container .btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 10%;
}
.container-two {
  margin: 2%;
  display: flex;
  justify-content: space-between;
}
.container-two h3 {
  font-size: 1.5rem;
}
.container-two p {
  margin: 5%;
  justify-content: left;
}
.container-two .list {
  width: 35%;
}
.container-two .list h4 {
  font-size: 1.5rem;
  margin-bottom: 1%;
}
.container-two .list ul {
  border: white solid 1px;
  height: 50%;
}
.container-two .list li {
  border: white solid 1px;
  height: 50%;
}
.table {
  display: flex;
  text-align: center;
  font-size: 1.5rem;
}
.table table {
  width: 100%;
  margin: 17%;
  padding: 5%;
  height: 100%;
}
.table th {
  height: 50%;
  border: solid white 1px;
}
.table tr {
  border: solid white 1px;
  height: 50%;
}
.end {
  background-color: silver;
  height: 5%;
  padding: 3%;
  margin: none;
}
.end h5 {
  text-align: center;
  font-weight: bold;
}
