// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
body {
	background-color:@variable-pink;
	margin: none;
	
	
}
	.nav-bar {
		padding: 3%;
		font-size: 1.5rem;
		text-align: center;
		a {
			display: inline-block;
			text-decoration: none;	
			padding: 1%;
			color: whitesmoke;
			margin-bottom: 1%;
			background-color:@variable-gray ;
			border-radius: 10%;
		
		}
		a:hover {
			background-color: @variable-pink;
			color: #@variable-gray;
		}
}
		.container{
			background-color:@varible-blush;
			height:100%;
			.flex-center()
		
		
		
		.image-one img {
			border-radius: 50%;
			width: 100%;
			height: 110%;
			padding: 15%;
			
		}
		.introduction {
			width: 55%;
			padding: 10%;
			background-color: @variable-gray;
		}
		h1 {
			color: whitesmoke;
			font-size: 2.6rem;
			margin-top: 1%;
		}
		h2{
			
			margin-top: 3%;
			padding: 1%;
			text-align: center;
			color: whitesmoke;
			font-size: 1.6rem;
			
		}
		p {
			margin-top: 3%;
			padding: 1%;
			color: whitesmoke;
		}
		.btn {
			margin-top: 8%;
			text-align: center;
		}
		button {
			background-color:@varible-blush;
			color:white;
			width: 100px;
			height: 50px; 
		}
		button:hover {
			background-color: @variable-pink;
			color: @variable-gray;
		}
	

}
		.container-two {
			.flex-center()
			background-color:@variable-gray ;
			margin-top: 1%;
			
				h3 {
				font-size: 2.6rem;
				color: whitesmoke;
				margin: 1%;
				}
				p {
					margin: 3.9%;
					color: whitesmoke;
				}
				.list{
					background-color: @varible-blush;
					width: 800%;
					padding: 1%;
				
				}
				h4 {
					font-size: 2.6rem;
					color: whitesmoke;
				}
				ul {
					padding: 1%;

				}
				li{
					padding: 3%;
					font-size: 1.3rem;
					color: whitesmoke;
				}
				li:hover {
					color: @variable-gray;
				}
}
			.table {
				height: 30%;
				margin-left: 9%;
				table {
					width: 100%;
					
					
				}
				th {
					font-size: 2.6rem;
					padding: 3%;
					text-align: center;
					
					
				}
				td{
					font-size: 1.6rem;
					text-align: center;
				}
			
}
			.end {
				height: 10%;
				background-color: @variable-gray;
				padding: 2%;
				h5 {
					text-align: center;
					color: whitesmoke;
					font-size: 1.0rem;
		
	}
}
@variable-pink: #F4DADA;
@variable-gray:#363636;
@varible-blush:#FFBCBC;
.flex-center() {
	display:flex;
	flex-direction: column;
  }
.flex-center() {
	display:flex;
	flex-direction: row;
	justify-content: space-between;

}
@media (max-width: 800px) {

}
@media (max-width: 500px) {
	.nav-bar {
		padding: 5%;
		font-size: 1.5rem;
		text-align: center;
		a {
			display: block;
			text-decoration: none;	
			padding: 1%;
			color: whitesmoke;
			margin-bottom: 1%;
			background-color: @variable-pink;
		}
		a:hover {
			background-color: @variable-pink;
			color: @variable-gray;
		}
}
	.container {
			.flex-center ()
				width: 100%;
				margin: none;
				padding: none;
				height: 35%;
		
			.image-one{
				display:flex;
				align-items: center;
				justify-content: center;
			img {
				height: 100%;
				width: 70%;
				padding: 10%;
			}
		}
			
		
			.introduction {
				.flex-center ()
					height: 150%;
					width: 100%;
					padding: 3%;
					margin: none;
			


				h1{
					font-size: 2.0rem;
					text-align: center;
				
			}
				h2 {
					font-size: 1.0rem;
					font-weight: none;

			}
				p{
					font-size: 0.9rem;
					text-align: justify;
			}
				.btn {
					padding: 5%;
				
			}

		}

	}
		.container-two {
				.flex-center ()
					width: 100%;
					height: 50%;
					margin-top: 127%;
					background-color: @variable-blush;
				h3{
					font-size: 2.0rem;
					text-align: center;
					padding:1%;
				
			}
				p{
					font-size: 0.9rem;
					text-align: justify;
					padding: 1%;
			}
				.list {
					width:100%;
					background-color: @variable-gray;

				h4{
					font-size: 2.0rem;
					padding:3%;
					
				}
				li{
					font-size: 1.0rem;
				}
				li:hover {
					color: @variable-pink;
				}
			}
			.table{
			
				table{
					width: 100%;
					height: 50%;
					margin-top: 65%;
			}
				th {
					font-size: 2.0;
					text-align: justify;
					padding: 5%;
					text-decoration: underline;
			}
				td{
					font-size: 1.5rem;
					text-align: center;

			}
		
		}
	


}


